:root {
  --primeri-black-color: #2e2f42;
  --primeri-white-color: #ffffff;
  --secondary-white-color: #f4f4fd;
  --secondary-text-color: #434455;
  --secondary-color: #4d5ae5;
  --secondary-blu-color: #404bbf;
  --text-font-size: 16px;
  --header-font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color, #434455);
  background-color: var(--primeri-white-color);
}

p,
h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/* -----header---- */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--secondary-color);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0 24px;
  display: block;
}
.header-logo-studio {
  color: var(--primeri-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-link {
  color: var(--primeri-black-color);
  font-size: var(--text-font-size);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  display: block;
}
.header-link:hover,
.header-link:focus {
  color: var(--secondary-blu-color);
}

.adr-contact {
  font-style: normal;
}
.adr-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adr-link {
  color: var(--secondary-text-color, #434455);
  font-size: var(--text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  display: block;
}
.adr-link:hover,
.adr-link:focus {
  color: var(--secondary-blu-color);
}

/*------- main------- */

.hero {
  background-color: var(--primeri-black-color);
  padding: 188px 0 188px;
}

.hero-title {
  color: var(--primeri-white-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 42px;
}

.hero-btn {
  display: block;
  text-align: center;
  color: var(--primeri-white-color);
  font-size: var(--text-font-size);
  height: 56px;
  min-width: 169px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-color);
  cursor: pointer;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}
.order {
  color: var(--primeri-white-color);
  font-size: var(--text-font-size);
  font-weight: 500;
  line-height: 0.15;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-blu-color);
}

/* -----princips------- */

.princips {
  padding: 120px 0 120px;
}

.pr-list {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pr-item {
  width: calc((100% - 72px) / 4);
}

.pr-name {
  color: var(--primeri-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.pr-text {
  color: var(--secondary-text-color);
  font-size: var(--text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------What are we doing------ */

.wawd {
  padding-bottom: 120px;
  background-color: var(--primeri-white-color);
}

.what-name {
  color: var(--primeri-black-color);
  background-color: var(--primeri-white-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.what-list {
  display: flex;

  gap: 24px;
}
.what-item {
  width: calc((100% - 48px) / 3);
}

/* -----------------Our team-------------- */

.team {
  background-color: var(--secondary-white-color);
  padding: 120px 0 120px;
}

.team-name {
  color: var(--primeri-black-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--primeri-white-color);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}

.team-name-item {
  padding: 32px 16px 32px;
}

.specialists-team {
  color: var(--primeri-black-color);
  background-color: var(--primeri-white-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.position-team {
  color: var(--secondary-text-color);
  background-color: var(--primeri-white-color);
  text-align: center;
  font-size: var(--text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* --------footer-------- */

.footer {
  background-color: var(--primeri-black-color);
  padding: 100px 0 100px;
}

.footer-container {
  flex-direction: column;
}

.footer-logo {
  color: var(--secondary-color);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  color: var(--secondary-white-color);
  font-family: Raleway, sans-serif;
}
.footer-text {
  color: var(--secondary-white-color);
  font-size: var(--text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* ------------PORTFOLIO------------*/

.porfolio-section {
  padding: 96px 0 120px 0;
}

.presentation-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.pres-btn {
  color: var(--secondary-color);
  font-size: var(--text-font-size);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-white-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.pres-btn:hover,
.pres-btn:focus {
  color: var(--primeri-white-color);
  background-color: var(--secondary-blu-color);
  border: 1px solid transparent;
}

/* ---------main-portfolio---------- */

.port-container {
  border-bottom: 1px solid var(#e7e9fc);
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.images-port-li {
  width: calc((100% - 48px) / 3);
}

.port-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.pres-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  color: var(--primeri-black-color);
}

.pres-item {
  font-size: var(--text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
